네이버 뉴스 수집.json
{
  "name": "네이버 뉴스 수집",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        96,
        256
      ],
      "id": "6d297f2b-0968-49ad-919f-63cffe0aa769",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        736,
        128
      ],
      "id": "3194d612-05c6-4e93-8031-e327c9636fbe",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1o7V8PuauhFCUkqK7_9y2S3C9_2S7kQY-Rl0j_14NKyY",
          "mode": "list",
          "cachedResultName": "n8n 네이버 뉴스 수집",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o7V8PuauhFCUkqK7_9y2S3C9_2S7kQY-Rl0j_14NKyY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "뉴스 키워드",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o7V8PuauhFCUkqK7_9y2S3C9_2S7kQY-Rl0j_14NKyY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "enabled",
              "lookupValue": "y"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        256
      ],
      "id": "1e781dd3-60c0-439f-84f7-1381fc84807f",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0Jk2FfrwfPmTTca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        256
      ],
      "id": "485b1ab2-dccf-46f7-9760-7158eecf3c7e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/v1/search/news",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "display",
              "value": "10"
            },
            {
              "name": "sort",
              "value": "sim"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id"
            },
            {
              "name": "X-Naver-Client-Secret"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        480
      ],
      "id": "baefaa54-40d7-46e3-8b7a-8bf2684b06e6",
      "name": "네이버 뉴스 검색"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1o7V8PuauhFCUkqK7_9y2S3C9_2S7kQY-Rl0j_14NKyY",
          "mode": "list",
          "cachedResultName": "n8n 네이버 뉴스 수집",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o7V8PuauhFCUkqK7_9y2S3C9_2S7kQY-Rl0j_14NKyY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1171992208,
          "mode": "list",
          "cachedResultName": "뉴스 수집",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o7V8PuauhFCUkqK7_9y2S3C9_2S7kQY-Rl0j_14NKyY/edit#gid=1171992208"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.originallink }}",
            "title": "={{ $json.title }}",
            "pubDate": "={{ $json.pubDate }}",
            "summary": "={{ $json.description }}",
            "naver_link": "={{ $json.link }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "naver_link",
              "displayName": "naver_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        128
      ],
      "id": "ae7720e7-db98-4df6-99a3-b392caed05a9",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "x0Jk2FfrwfPmTTca",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 네이버 검색 설정\n1. 검색 건수/필터링 기준\n2. API 키 입력 ",
        "height": 304,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        384
      ],
      "typeVersion": 1,
      "id": "11bb24f9-6437-4d44-993d-f565cc81e8c6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### 구글 시트 설정\n",
        "height": 240,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        64
      ],
      "typeVersion": 1,
      "id": "b5c9e8ee-60a5-45a3-8e33-03aff39b260b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### 구글 시트 설정\n",
        "height": 208,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        208
      ],
      "typeVersion": 1,
      "id": "cc7746eb-1fb3-43fd-8053-04f7c7be6386",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 네이버 키워드로 뉴스 수집",
        "height": 752,
        "width": 1200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "b290e588-2115-4e29-b36f-78fe13a43a72",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "네이버 뉴스 검색",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "네이버 뉴스 검색": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa920fd2-717b-4466-81c5-3cbe51f66577",
  "meta": {
    "instanceId": "6a9739e3f09ef3db6c5a0d4227f41ec01aa52b7bbab4b528e77147e555f60ecc"
  },
  "id": "HstB2eylkvDmhPDx",
  "tags": []
}